<!--
 Guest user marketing
==================================================
-->

<!-- Add container class to marketing to center all the content. (Do same for featurettes i.e create div.container) -->

    <div id="marketing" class="marketing">

      <!-- Three columns of text below the carousel. Could be component, but probably re-visit/ clean up -->
      <div class="row">
        <!-- To do: column-feature component -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="./app/imgs/4.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Screensaver mode</h2>
          <p>Customize the carousel above to show content on the categories you choose. Latest, Most Viewed, Top Picks, or even let us surprise you! Users can customize their content, make it personal or even let us help you discover new works of art!</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <!-- end column-feature -->

        <div class="col-lg-4">
          <img class="rounded-circle" src="./app/imgs/2.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Gallery</h2>
          <p>"I need more than viewing amazing works of art one at a time." No worries. Here you can browse through all the works of art made public by artists in your favourite categories, just in larger doses.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="./app/imgs/6.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Community!</h2>
          <p>You are not alone. We are all works of art, and sometimes the best part about that is being able to share your masterpieces with everyone! Or maybe just a few friends. Or maybe just you. The good news is: all of the above</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div><!-- /.container -->

      <!-- LET THE PUNCH LINES BEGIN -->

      <!-- <hr class="featurette-divider"> Uncomment if you wanna use, really just preference-->

      <!-- To do: create featurette component -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Showcase your content. <span class="f1">On any device.</span></h2>
          <p class="">
            Whether it's showing off your Amazing Work Of Art to your friends on the bus, or keeping up-to-date with the latest, screensaver mode attempts to fill any sized screen with the HD content you want. (In future, use gestures and intuitive features to interact with a masterpiece and even give feedback.)
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="./app/imgs/5.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <!-- end featurette -->

      <!-- <hr class="featurette-divider"> -->

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">Just your average gallery.<span class="f2"> Done right.</span></h2>
          <p class="">
            Of all the galleries in all the world you had to walk into mine. When we're not butchering Casablanca, we're using yet another wallpaper site that <b>almost</b> has everything. Our mission is to give you that sweet spot between simplicity and feature-rich. (In future, you'll notice the content you're browsing is way more than just pictures...)
          </p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto" src="./app/imgs/3.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <!-- <hr class="featurette-divider"> -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Time to bring home the bacon. <span class="f3">It's all free.</span></h2>
          <p class="">
            And it'll stay that way. For as long as possible. Within the realm of what's humanly possible. We're serious! Feel free to enjoy the same core features that we do, only with no obligation to sign up...ever. Doesn't mean we wouldn't <i>love</i> for you to join and get to know you, with the added benefits and features of all that comes with joining our community.
            Had enough reverse-psychology? Whatever you do, don't click <a class="text-white" routerLink="/register"><b>HERE</b></a>... no matter what.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="./app/imgs/1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <!-- <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->
